<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="output.css">
  <title>Contact page</title>
</head>
<body>
  <header>
  <h1 >please give your details</h1>
  </header>
  <main>
  <form action="/contact-us" method="POST">
  <input type="text" name="name" placeholder="Enter your name"/>
  <input type="email" name="email" placeholder="Enter your email"/>
  <input type = "submit" name="submit"/>
  </form>
  </main>
</body>
</html>