<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add home on airBnb</title>
</head>
<body>
  <header>
    <h1>Register your home page</h1>
  </header>
  <main>
    <form action="/host/add-home" method="POST">
    <input type="text" name="home-name" placeholder="Home name"/>
    <input type="text" name="address" placeholder="Address"/>
    <input type="submit" value="Submit"/>
    </form>
  </main>
</body>
</html>